<app-progress-bar *ngIf="loading"></app-progress-bar>
<div *ngIf="!loading" class="container">
    <div class="title">
        <h4>List of Products</h4>
        <button type="button" class="btn btn-success" routerLink="/add">Add Product</button>
    </div>

    <table *ngIf="listProducts.length > 0" class="table table-hover">
        <thead>
          <tr class="table-dark">
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col">Price</th>
            <th scope="col">Stock</th>
            <th scope="col">Option</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of listProducts" class="table-secondary">
            <td>{{ item.name }}</td>
            <td>{{ item.description }}</td>
            <td>{{ item.price | currency }}</td>
            <td>{{ item.stock }}</td>
            <td>
                <button routerLink="/edit/{{ item.id }}" type="button" class="btn btn-primary btn-sm">Edit</button>
                <button (click)="deleteProduct(item.id!)" type="button" class="btn btn-danger btn-sm ms-2">Delete</button>
            </td>
          </tr>
        </tbody>
      </table>
      <h5 *ngIf="listProducts.length == 0">No hay productos para mostrar</h5>
</div>

